<div class="ls-box ls-board-box">
  <header class="ls-info-header">
    <h2 class="ls-title-3 ls-ico-home">Galpões</h2>
  </header>
  <% unless @warehouses.nil? %>
    <% if @warehouses.empty? %>
      <p><strong style="color:red;">Nenhum galpão cadastrado</strong></p>
    <% else %>
      <table class="ls-table ls-txt-center ls-table-striped ls-bg-header">
        <thead>
          <tr>
            <th class="ls-text-lg">Nome</th>
            <th class="ls-text-lg">Código</th>
            <th class="ls-text-lg">Área Total</th>
            <th class="ls-text-lg">Área Útil</th>
            <th class="ls-text-lg">Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @warehouses.each do |warehouse| %>
            <tr class="ls-text-lg">
              <td class="ls-text-lg"><b><%= warehouse.name%></b></td>
              <td class="ls-text-lg"><%= warehouse.code %></td>
              <td class="ls-text-lg"><%= warehouse.total_area %></td>
              <td class="ls-text-lg"><%= warehouse.useful_area %></td>
              <td class="ls-text-lg"><a href="/warehouses/<%= warehouse.id %>" class="ls-ico-eye"></a></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
</div>