<%= form_with(url: warehouses_path) do |form| %>
  <div>
    <%= form.label :name, 'Nome' %>
    <%= form.text_field(:name)%>
  </div>
  <div>
    <%= form.label :code, 'Código' %>
    <%= form.text_field(:code)%>
  </div>
  <div>
    <%= form.label :description, 'Descrição' %>
    <%= form.text_field(:description)%>
  </div>
  <div>
    <%= form.label :address, 'Endereço' %>
    <%= form.text_field(:address)%>
  </div>
  <div>
    <%= form.label :city, 'Cidade' %>
    <%= form.text_field(:city)%>
  </div>
  <div>
    <%= form.label :state, 'Estado' %>
    <%= form.text_field(:state)%>
  </div>
  <div>
    <%= form.label :postal_code, 'CEP' %>
    <%= form.text_field(:postal_code)%>
  </div>
  <div>
    <%= form.label :total_area, 'Área Total' %>
    <%= form.text_field(:total_area)%>
  </div>
  <div>
    <%= form.label :useful_area, 'Área Útil' %>
    <%= form.text_field(:useful_area)%>
  </div>
  <%= form.submit 'Gravar' %>
<% end %>