<div class="ls-box ls-board-box">
  <header class="ls-info-header">
    <h2 class="ls-title-3 ls-ico-plus">Cadastro de Galpão</h2>
  </header>
  <%= form_with(url: warehouses_path, html: {class: 'ls-form ls-form-horizontal row'}) do |form| %>
    <fieldset>
      <label class="ls-label col-md-4 col-xs-12">
        <b><%= form.label :name, 'Nome', class: 'ls-label-text ls-text-lg' %></b>
        <%= form.label :name, 'Digite o nome completo', class: 'ls-label-info' %>
        <%= form.text_field(:name, {placeholder: 'Nome do galpão'})%>
      </label>
      <label class="ls-label col-md-4 col-xs-12">
        <b><%= form.label :code, 'Código', class: 'ls-label-text ls-text-lg' %></b>
        <%= form.label :code, 'Digite o código do galpão', class: 'ls-label-info' %>
        <%= form.text_field(:code, {placeholder: 'Código do galpão'})%>
      </label>
      <label class="ls-label col-md-4 col-xs-12">
        <b><%= form.label :description, 'Descrição', class: 'ls-label-text ls-text-lg' %></b>
        <%= form.label :description, 'Digite a descrição do galpão', class: 'ls-label-info' %>
        <%= form.text_field(:description, {placeholder: 'Descrição do galpão'})%>
      </label>
      <label class="ls-label col-md-12">
        <b><%= form.label :address, 'Endereço', class: 'ls-label-text ls-text-lg' %></b>
        <%= form.label :address, 'Digite o endereço do galpão', class: 'ls-label-info' %>
        <%= form.text_field(:address, {placeholder: 'Endereço do galpão'})%>
      </label>
      <label class="ls-label col-md-4 col-xs-12">
        <b><%= form.label :city, 'Cidade', class: 'ls-label-text ls-text-lg' %></b>
        <%= form.label :city, 'Digite a cidade do galpão', class: 'ls-label-info' %>
        <%= form.text_field(:city, {placeholder: 'Cidade do galpão'})%>
      </label>
      <label class="ls-label col-md-4 col-xs-12">
        <b><%= form.label :state, 'Estado', class: 'ls-label-text ls-text-lg' %></b>
        <%= form.label :state, 'Digite o estado do galpão', class: 'ls-label-info' %>
        <%= form.text_field(:state, {placeholder: 'Estado do galpão'})%>
      </label>
      <label class="ls-label col-md-4 col-xs-12">
        <b><%= form.label :postal_code, 'CEP', class: 'ls-label-text ls-text-lg' %></b>
        <%= form.label :postal_code, 'Digite o CEP do galpão', class: 'ls-label-info' %>
        <%= form.text_field(:postal_code, {placeholder: 'CEP do galpão'})%>
      </label>
      <label class="ls-label col-md-6 col-xs-12">
        <b><%= form.label :total_area, 'Área Total', class: 'ls-label-text ls-text-lg' %></b>
        <%= form.label :total_area, 'Digite a área total do galpão', class: 'ls-label-info' %>
        <%= form.text_field(:total_area, {placeholder: 'Área total do galpão'})%>
      </label>
      <label class="ls-label col-md-6 col-xs-12">
        <b><%= form.label :useful_area, 'Área Útil', class: 'ls-label-text ls-text-lg' %></b>
        <%= form.label :useful_area, 'Digite a área útil do galpão', class: 'ls-label-info' %>
        <%= form.text_field(:useful_area, {placeholder: 'Área útil do galpão'})%>
      </label>
      <div class="ls-actions-btn">
        <%= form.submit 'Gravar', class: 'ls-btn-primary ls-text-lg' %>
      </div>
    </fieldset>
  <% end %>
</div>