<h2>Cadastro de Galpão</h2>
<%= form_with(url: warehouses_path) do |form| %>
  <div class="form-group row">
    <div class="col-sm">
      <b><%= form.label :name, 'Nome' %></b>
      <%= form.text_field(:name, class: 'form-control')%>
    </div>
    <div class="col-sm">
      <b><%= form.label :code, 'Código' %></b>
      <%= form.text_field(:code, class: 'form-control')%>
    </div>
    <div class="col-sm">
      <b><%= form.label :description, 'Descrição' %></b>
      <%= form.text_field(:description, class: 'form-control')%>
    </div>
  </div>
  <div class="form-group">
    <b><%= form.label :address, 'Endereço' %></b>
    <%= form.text_field(:address, class: 'form-control')%>
  </div>
  <div class="form-group row">
    <div class="col-sm">
      <b><%= form.label :city, 'Cidade' %></b>
      <%= form.text_field(:city, class: 'form-control')%>
    </div>
    <div class="col-sm">
      <b><%= form.label :state, 'Estado' %></b>
      <%= form.text_field(:state, class: 'form-control')%>
    </div>
    <div class="col-sm">
      <b><%= form.label :postal_code, 'CEP' %></b>
      <%= form.text_field(:postal_code, class: 'form-control')%>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm">
      <b><%= form.label :total_area, 'Área Total' %></b>
      <%= form.text_field(:total_area, class: 'form-control')%>
    </div>
    <div class="col-sm">
      <b><%= form.label :useful_area, 'Área Útil' %></b>
      <%= form.text_field(:useful_area, class: 'form-control')%>
    </div>
  </div>
  <br>
  <div class="form-group">
    <%= form.submit 'Gravar', class: 'btn btn-success' %>
  </div>
<% end %>