<% unless @warehouse.nil? %>
  <div class="ls-box ls-board-box">
    <header class="ls-info-header">
      <h2 class="ls-title-3 ls-ico-eye"><%= @warehouse.name %></h2>
      <%= link_to 'Voltar', root_path, class: 'ls-btn ls-btn-dark ls-text-md ls-btn-sm' %>
    </header>
    
    <table class="ls-table ls-table-striped">
      <tbody>
        <tr>
          <td class="ls-text-lg"><strong>Código: </strong><%= @warehouse.code %></td>
        </tr>
        <tr>
          <td class="ls-text-lg"><strong>Descrição: </strong><%= @warehouse.description %></td>
        </tr>
        <tr>
          <td class="ls-text-lg"><strong>Endereço: </strong><%= @warehouse.address %> - <%= @warehouse.city %>/<%= @warehouse.state %></td>
        </tr>
        <tr>
          <td class="ls-text-lg"><strong>CEP: </strong><%= @warehouse.postal_code %></td>
        </tr>
        <tr>
          <td class="ls-text-lg"><strong>Área Total: </strong><%= @warehouse.total_area %> m2</td>
        </tr>
        <tr>
          <td class="ls-text-lg"><strong>Área Útil: </strong><%= @warehouse.useful_area %> m2</td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>