<% unless @warehouse.nil? %>
  <div class="row">
    <div class="col-sm">
      <h2><%= @warehouse.name %></h2>
    </div>
    <div class="col-auto float-right">
      <%= link_to 'Voltar', root_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="card">
    <div class="card-header"><h4><%= @warehouse.code %></h4></div>
    <div class="card-body">
      <div id="detalhes-galpao">
        <dl class="row">
          <dt class="col-sm-2">Descrição:</dt>
          <dd class="col-sm-10"><%= @warehouse.description %></dd>
          <dt class="col-sm-2">Endereço:</dt>
          <dd class="col-sm-10"><%= @warehouse.address %> - <%= @warehouse.city %>/<%= @warehouse.state %></dd>
          <dt class="col-sm-2">CEP:</dt>
          <dd class="col-sm-10"><%= @warehouse.postal_code %></dd>
          <dt class="col-sm-2">Área Total:</dt>
          <dd class="col-sm-10"><%= @warehouse.total_area %> m2</dd>
          <dt class="col-sm-2">Área Útil:</dt>
          <dd class="col-sm-10"><%= @warehouse.useful_area %> m2</dd>
        </dl>
      </div>
    </div>
  </div>
<% end %>